body{
  @extend .regular;
  @include color("black");
  @include size(text_default);
  line-height: 1.42857143;
}
.text,.block{
    &-inline{
      display: inline-block;
    }
    &-center{
      text-align: center;
    }
    &-right{
      text-align: right;
    }
    &-left{
      text-align: left;
    }
}
@for $i from 1 through 3{
  .z-index-#{$i}{
    z-index: $i;
  }
}
img{
  @extend .block-inline;
  max-width: 100%;
}
input{
  &:focus{
    &::-webkit-input-placeholder{
      color: transparent;
    }
    &:-moz-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
    &:-ms-input-placeholder {
      color: transparent;
    }
  }
}
a,button{
  &:hover{
    cursor: pointer;
  }
}