body{
  @extend .regular;
  @include color("black");
  @include size(text_default);
  line-height: 1.42857143;
}
.text,.block{
    &-inline{
      display: inline-block;
    }
    &-center{
      text-align: center;
    }
}
.display-none,
.hide,
.hidden {
  display: none !important;
}
.display-block,
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.affix {
  position: fixed;
}
img{
  @extend .block-inline;
  max-width: 100%;
}
input{
  &:focus{
    &::-webkit-input-placeholder{
      color: transparent;
    }
    &:-moz-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
    &:-ms-input-placeholder {
      color: transparent;
    }
  }
}
a,button{
  &:hover{
    cursor: pointer;
  }
}