.ttu{
  text-transform: uppercase;
}
.tdu{
  text-decoration: underline;
}
.h{
  &1{
    line-height: 1.1;
    margin: 0 0 25px;
    
  }
  &2{
    @extend .regular;
    font-weight: 100;
  }
  &4{
    color: #272727;
    &.s-m{
      margin-bottom: 25px;
    }
    &.b-m{
      margin-bottom: 40px;
    }
  }
  &1,
  &3{
    @extend .green-l;
    @extend .bold;
  }
  &3{
    text-align: center;
  }
  
}
.subtitle{
  //@include color("blue-light");
}
.column-title{
  margin-bottom: 30px;
}
// [class*="col-"]{
//   .h3{
//     text-align: left;
//   }
// }
@include resp-min(sm){
  .h1{
    font-size: 50px;
  }
  .h2{
    @include size(text_title);
  }
  .h3{
    margin-bottom: 20px;
    &.m-m{
      margin-bottom: 50px;
    }
    &.b-m{
      margin-bottom: 70px;
    }
  }
  .h4{
    @include size(text_title);
  }
  .subtitle{
    @include size(text_big);
    margin-bottom: 45px;
  }
}
@include resp-min(md){
  .h3{
    @include size(default_title);
  }
  .column-title{
    @include size(small_title);
  }
}
@include resp-max(md){
  .h3{
    @include size(default_title);
  }
  .column-title{
    text-align: center;
    @include size(text_title);
  }
}
@include resp-max(sm){
  .h1{
    @include size(normal_title);
    margin: 15px 0;
  }
  .h2{
    @include size(text_default);
    margin: 15px 0;
  }
  .h3{
    @include size(text_title);
    margin-bottom: 30px;
  }
  .subtitle{
    @include size(text_default);
    text-align: center;
    margin: 20px 0;
  }
}
@include resp-max(xs){
  .h1{
    @include size(default_title);
  }
  .h2{

  }
  .h3{
    @include size(text_big);
  }
}