.ttu{
  text-transform: uppercase;
}
.h{
  &1,&2{
    @extend .ttu;
  }
  &1{
    line-height: 100%;
    margin: 25px 0;
    @extend .black_font;
  }
  &2{
    @extend .regular;
    font-weight: 100;
  }
  &3{
    text-align: center;
  }
}
.subtitle{
  //@include color("blue-light");
}
.column-title{
  @include color("green");
  margin-bottom: 30px;
}
@include resp-min(sm){
  .h1{
    @include size(big_title);
    &-span{
      font-size: 115px;
    }
  }
  .h2{
    @include size(text_big);
  }
  .h3{
    margin-bottom: 100px;
  }
  .subtitle{
    @include size(text_big);
    margin-bottom: 45px;
  }
}
@include resp-min(md){
  .h3{
    @include size(normal_title);
    &.small-title{
      @include size(small_title);
    }
  }
  .column-title{
    @include size(small_title);
  }
}
@include resp-max(md){
  .h3{
    @include size(default_title);
  }
  .column-title{
    text-align: center;
    @include size(text_title);
  }
}
@include resp-max(sm){
  .h1{
    @include size(normal_title);
    margin: 15px 0;
  }
  .h2{
    @include size(text_default);
    margin: 15px 0;
  }
  .h3{
    @include size(normal_title);
    margin-bottom: 50px;
  }
  .subtitle{
    @include size(text_default);
    text-align: center;
    margin: 20px 0;
  }
}
@include resp-max(xs){
  .h1{
    @include size(default_title);
  }
  .h2{

  }
  .h3{
    @include size(text_title);
  }
}