// VARIABLES
$columns         	: 12;
$width           	: 100%;
$gutter          	: 15px;
$container       	: 1170px;
$container-small 	: 1050px;

// COLOR
$colors:(
	"green-l"       : #a2c228,
	"green-d"      	: #8cb119,
	"r-black"       : #000,
	"black"      	: #151515,
	"white"      	: #fff,
	
	"corporative"	: #ff8001
);

// SIZE
$sizes: (
	text_smaller    : 12px,
	text_small      : 14px,
	text_default    : 18px,
	text_big   		: 20px,
	text_title      : 24px,
	small_title  	: 30px,
	default_title   : 36px,
	normal_title 	: 48px,
	big_title    	: 80px
);