/* ===================== 
Start: COLUMNS      
======================== */
@include make-column(xs,"not-push","not-pull","not-offset");
@include resp-min(sm){
  @include make-column(sm,"push","pull","offset");
}
@include resp-min(md){
  @include make-column(md,"push","pull","offset");
}
@include resp-min(lg){
  @include make-column(lg,"push","pull","offset");
}

/* =====================
End:  COLUMNS
======================== */

/* ===================== 
Start: HIDDEN AND VISIBLE UTILITIES      
======================== */
@include resp-min(lg){
  @include visibility-utility(lg);
}
@include resp-min(md){
  @include resp-max(lg){
    @include visibility-utility(md);  
  }
}
@include resp-min(sm){
  @include resp-max(md){
    @include visibility-utility(sm);
  }
}
@include resp-max(sm){
  @include visibility-utility(xs);
}
/* =====================
End:  HIDDEN AND VISIBLE UTILITIES
======================== */
    

.min-height{
  min-height: 1px;
}
%relative{
  position: relative;
}
%global-block{
  @extend .min-height;
  padding-left: $gutter;
  padding-right: $gutter; 
  @extend %relative;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cf{
  @include default-after();
  @extend %relative;
}
.row{
  @extend .cf;
  margin-left: -15px;
  margin-right: -15px;
}
[class*="col-"] {
  @extend %global-block;
  float: left;
}

.container, .container-inner{
  @extend %global-block;
  @extend .cf;
  @extend .center-block;
}
.container{
  @include resp-min(lg){
    width: $container;
  }
  &-inner{
    @include resp-min(lg){
      width: $container-small;
    }
  }
}
.padding-block{
  padding-top: 50px;
  padding-bottom: 50px;
  @include resp-max(sm){
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
section{
  @extend .cf;
  @extend .padding-block;
  @extend %relative;
  padding-left: 15px;
  padding-right: 15px;
}
/* ===================== 
Start: CENTERING      
======================== */
@each $br-name, $br-val in $breakpoints{
  @include resp-max($br-name){
    .max-#{$br-name}-center{
      text-align: center;
    }
  }
  @include resp-min($br-name){
    .pull-#{$br-name}-right{
      float: right;
    }
  }
}
@include resp-max(sm){
  .max-sm-negative{
    margin-left: -15px;
    margin-right: -15px;
  }
}
@include resp-min(sm){
  .min-sm-left{
    text-align: left;
  }
}
/* =====================
End:  CENTERING
======================== */